name: Cypress Tests

on:
  push:
    branches: [main, feature/testing]
  pull_request:
    branches: [main, feature/testing]

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Build app
        run: npm run build

      - name: Start Vite preview
        run: npm run preview &
      
      - name: Wait for app
        uses: cypress-io/github-action@v6
        with:
          wait-on: "http://localhost:5173"
          wait-on-timeout: 120
          command: npm run cypress:run
